@import "common.scss";
.swiper-button-prev, .swiper-button-next{
  width: 40px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  background: url("../assets/img/left.png") no-repeat;
  left: 20px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  background: url("../assets/img/right.png") no-repeat;
  right: 20px;
}
.part-title{
  padding-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.primary-text{
  color: $primary!important;
}
.light-white-text{
  color:$light-white;
}
.light-black-text{
  color:$light-black;
}
.primary-bg{
  background: $primary!important;
}
.title-text{
  color: $title!important;
}
.part{
  padding:3rem 0;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
