$primary:#139596;
$title:#9A6A13;
.primary-text{
  color: $primary!important;
}
.primary-bg{
  background: $primary!important;
}
.title-text{
  color: $title!important;
  font-weight: bold;
  text-transform: uppercase;
}
.part{
  padding:3rem 0;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin posCenter{
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top:50%;
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}